.container {
  border-bottom: 1px rgb(33, 33, 33, 0.4) solid;
  padding-bottom: 36px;
  margin-bottom: 60px;
}
.container__card {
  max-width: 413px;
}
.container__cards {
  grid-template-columns: repeat(auto-fit, 413px);
  grid-gap: 40px 20px;
  display: grid;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media screen and (max-width: 627px) {
  .container {
    max-width: 288px;
    padding-bottom: 22px;
  }

  .container__cards {
    grid-template-columns: repeat(auto-fit, 288px);
    grid-gap: 20px;
  }
}
