.profile__container {
  max-width: 1280px;
  display: flex;
  border-bottom: 1px rgb(33, 33, 33, 0.4) solid;
  padding-bottom: 20px;
  margin: 34px auto 20px;
}

.profile__container-avatar {
  display: flex;
  width: 100%;
  max-width: 190px;
  height: 190px;
  flex-direction: column;
  margin-right: 20px;
}

.profile__avatar-btn {
  position: relative;
  bottom: 32px;
  font-size: 16px;
  background-color: transparent;

  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  z-index: 1;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 0.3s linear;
}

.profile__avatar:hover {
  opacity: 50%;
}
.profile_avatar-index {
  z-index: 2;
}

.profile__buttom {
  border-radius: 8px;
  background-color: #212121;
  min-width: 149px;
  min-height: 52px;
  margin-left: auto;
  font-size: 1rem;
  font-weight: 500;
  color: #fcf5e5;
  margin-top: auto;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.profile__buttom:hover {
  opacity: 80%;
}

.profile__container-info {
  display: flex;

  flex-direction: column;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 0;
  font-weight: 500;
  color: #212121;
}

.profile__username {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  margin: 0 0 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #212121;
  max-width: 420px;
}

.profile__description {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 auto;
  color: rgb(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  margin-bottom: auto;
}

.profile__edit-btn {
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: #212121;
  opacity: 0.7;
  padding: 0;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  transition: opacity 0.2s linear;
}
.profile__edit-btn:hover {
  opacity: 1;
}
.profile__logo {
  max-width: 18px;
  opacity: 0.7;
  transition: opacity 0.2s linear;
}

@media screen and (max-width: 627px) {
  .profile__container {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
    margin-top: 20px;
  }
  .profile__avatar {
    margin: 0;
    width: 80px;
    height: 80px;
  }

  .profile__container-info {
    margin: 0;
    text-align: center;
  }

  .profile__username {
    font-size: 20px;
    line-height: 1;
    margin-top: 12px;
    margin-bottom: 0;
  }

  .profile__description {
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 1;
    margin-top: 6px;
  }

  .profile__edit-btn {
    margin-bottom: 20px;
    text-align: center;
  }

  .profile__logo {
    max-width: 18px;
    max-height: 10px;
  }

  .profile__buttom {
    margin: 0;
    min-width: 100%;
    min-height: 52px;
  }
}
